{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
<div class="container mt-3">
    <div class="row col-xxl-1 col-xl-1 col-lg-1 col-md-2 col-sm-8">
        <a href="{% url 'agregartema' %}" class="btn btn-outline-primary">Agregar</a>
    </div>

    <div class="row d-flex justify-content-between">
        {% for reg in temas %}
            <div class="card p-0 my-3 col-xxl-6 col-xl-6 col-lg-6 col-md-10 col-sm-10">
            <div class="card-header">
                {{reg.id}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{reg.nombre}}</h5>
                <p class="card-text">{{reg.contenido}}</p>
                <a href="#" class="btn btn-primary">Ver</a>
                <a href="#" class="btn btn-warning">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock contenido %}