{% extends 'base/base.html' %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 mx-auto mb-3">
            {% if archivos %}
            <h2 class="text-center mt-2">Archivos Adjuntos</h2>
            {% for reg in archivos %}
            <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between" role="alert">
                <a href="{{reg.file.url}}" target="_blank">{{reg.filename|truncatechars:34}}</a>
                <button type="button" class="btn-close" id="{{reg.id}}" aria-label="Close"
                    onclick="return eliminarArchivo(this)"></button>
            </div>
            {% endfor %}
            {% else %}
            <div class="h-100 d-flex align-items-center">
                <h2 class="text-center">Sin Archivos Adjuntos</h2>
            </div>
            {% endif %}
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-8 col-sm-12 mt-2 mx-auto">
            <form class="form-signin" enctype="multipart/form-data" action="{% url 'actualizartema' %}" method="POST"
                onsubmit="return validarForm()">
                {% csrf_token %}
                <div class="form-label-group mb-2">
                    <h3 class="text-center mb-2">Tema {{tema.id}}</h3>
                    <input type="text" class="form-control" id="txtIDTema" name="txtIDTema" required readonly hidden
                        value="{{tema.id}}" />
                </div>
                <div class="form-label-group">
                    <label for="txtNombreTema" class="mb-2">Nombre:</label>
                    <input type="text" class="form-control mb-2" id="txtNombreTema" name="txtNombreTema" required
                        value="{{tema.nombre}}" />
                </div>
                <div class="form-label-group">
                    <label for="cmbGerencia" class="mb-2">Gerencia:</label>
                    <select class="form-select mb-2" aria-label="Default select example" name="cmbGerencia"
                        id="cmbGerencia">
                        {% for reg in gerencias %}
                        {% if tema.gerencia.id == reg.id %}
                        <option value={{reg.id}} selected>{{reg.nombre_gerencia}}</option>
                        {% else %}
                        <option value={{reg.id}}>{{reg.nombre_gerencia}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-label-group">
                    <label for="flsArchivos" class="form-label mb-2">Agregar Archivos:</label>
                    <input class="form-control mb-2" type="file" id="flsArchivos" name="flsArchivos" multiple />
                </div>
                <div class="form-label-group">
                    <label for="txtContenido" class="mb-2">Contenido:</label>
                    <textarea class="form-control mb-2" id="txtContenido" name="txtContenido" rows="5"
                        required>{{tema.contenido}}</textarea>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-warning " type="submit">Actualizar</button>
                    <button class="btn btn-danger" onclick="return eliminarTema()" type="button">Eliminar</button>
                    <a class="btn btn-secondary" href="{% url 'temas' %}">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}